<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Camera and URLs -->
		<add key="CameraHardwareId" value="VID_5986&amp;PID_2113" />
		<add key="PostUrl" value="http://[]/json" />
		<add key="GetUrl" value="http://[]/win" />
		<!-- Preset values -->
		<add key="ActiveMeetingWithCameraPreset" value="" />
		<add key="ActiveMeetingWithoutCameraPreset" value="" />
		<add key="NoMeetingWithCameraPreset" value="" />
		<add key="NoMeetingWithoutCameraPreset" value="" />
	</appSettings>
</configuration>